<ul class="nav">
  <li class="nav-item">
    <a class="nav-link">Mongo Scraper</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Saved Page</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>